.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  padding: 20px 12px 60px 12px;
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, black);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, black);
}

.container::-webkit-scrollbar {
  display: none;
}
